/* ========== GLOBAL ==========*/
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.input {
  font-size: 1.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: var(--colorInputBorder);
}

:root {
  --shape: #e6eef1;
  --primary-color: #005776;
  --secondary-color: #669aad;
  --tree-color: #b3cdd6;
  /* --text-color: hsl(0, 2%, 39%); */
  --text-color: #005776;
  --background-color: hsl(210, 10%, 98%);
  --submenu-color: #e6eef1;
  --line-color: hsl(0, 0%, 77%);
  --shape-black: hsl(0, 0%, 0%);

  --colorText-00: #ffffff;
  --colorText-01: #c33333;
  --colorText-02: #7d7979;
  --colorText-03: #737373;
  --colorTextButton: #e3e3e3;
  --colorShadow: #c9c9c9;
  --colorInputBorder: #dcdcdc;
  --colorButtonSave: #3b6dee;
  --colorButtonCancel: #c33333;

  font-size: 62.5%; /* 1rem = 10px */
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  width: 100%;
  height: 100vh;
  background-color: var(--shape);
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

h5 {
  margin: 0;
}

button {
  outline: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/*========== SIDEBAR ==========*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--tree-color);
  width: 250px;
  height: 100%;
  padding: 0px 0px 8px 0px;
}

.sidebar .logo-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .nav-list {
  margin-top: 1.4rem;
}

.sidebar .nav-list li {
  position: relative;
  width: 100%;
  height: 60px;
  list-style: none;
}

.sidebar .nav-list li a {
  display: flex;
  align-items: center;
  padding: 16px;
  color: var(--text-color);
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0, 4s ease;
}

.sidebar .nav-list li a:hover:not(.finance-options-show li a),
.sidebar .nav-list li .btn-finance.selected {
  background-color: var(--primary-color);
  color: var(--shape);
  font-weight: 700;
}

.sidebar .nav-list li a i {
  margin-right: 1rem;
  font-size: 2rem;
}

.sidebar .nav-list li a .bxs-chevron-right {
  margin-left: 8.5rem;
  transition: transform 0.3s;
}

.sidebar .nav-list li a .bxs-chevron-right.rotate {
  transform: rotate(90deg);
}

.sidebar .nav-list ul {
  position: static;
  display: none;
}

.sidebar .nav-list .finance-options-show.show {
  display: block;
  position: relative;
  background-color: var(--submenu-color);
}

.sidebar .nav-list .finance-options-show.show li a:hover {
  color: var(--primary-color);
  font-weight: 700;
}

.sidebar .nav-list .finance-options-show.show li a:hover::before {
  content: "";
  position: absolute;
  border-left: 0.4rem var(--primary-color) solid;
  /* top: 35%; */
  left: 0;
  height: 3.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.sidebar .nav-list ul li a {
  padding-left: 5rem;
}

.content {
  position: absolute;
  height: 100%;
  width: calc(100% - 250px);
  left: 25rem;
  margin: 0 auto;
  /* overflow: auto; */
}
/*========== TopBar ==========*/
.content .top-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: var(--primary-color);
  padding: 0 20px;
  align-items: center;
  color: var(--shape);
}

.content .top-bar .title-guide h2 {
  font-weight: 400;
  font-size: 3.4rem;
}

.content .top-bar .profile .profile-content {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--shape);
}

.content .top-bar .profile .profile-content img {
  width: 3rem;
  height: 3rem;
  border-radius: calc(4.2rem / 2);
}

.content .top-bar .profile .profile-content .name {
  font-size: 1.4rem;
  font-weight: 400;
}

.profile .dropdown-profile {
  position: absolute;
  right: 0;
  left: auto;
  display: none;
  z-index: 999;
  width: 180px;
  background-color: var(--shape);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.profile .dropdown-profile li {
  color: #555;
  font-size: 1.6rem;
  padding: 5px 2px;
  margin-bottom: 2px;
}

.profile .dropdown-profile li:hover {
  color: var(--primary-color);
}

.profile .dropdown-profile.show {
  display: block;
}

.container {
  padding: 20px;
  background-color: var(--shape);
}

/* .panel-body{
    
} */

.container .title h1 {
  color: var(--primary-color);
  font-size: 2.1rem;
  padding-bottom: 20px;
}

/* -----------------------FILTRO------------------*/

.container .filter-wrapper {
  display: flex;
  width: 70%;
  background-color: var(--shape);
  border-radius: 0.5rem;
  align-items: center;
  margin-top: 2rem;
}

.container .filter-wrapper .filter {
  flex: 0.5;
  height: 6.4rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: solid 1.5px;
    border-right-color: var(--line-color); */
}

.filter-wrapper .filter .filter-select {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  justify-content: center;
}

.filter-wrapper .filter .filter-select span {
  font-size: 1.6rem;
}

.filter-wrapper .filter .filter-select .label {
  color: var(--shape-black);
}

.filter-wrapper .filter .filter-select .select {
  color: var(--text-color);
}

.filter-wrapper .filter i {
  color: var(--primary-color);
  font-size: 2rem;
}

.filter-wrapper .line {
  background-color: var(--line-color);
  width: 0.12rem;
  height: 4rem;
  border-radius: 5rem;
}

.filter-wrapper .filter .filter-select select {
  background-color: transparent;
  border: 0;
  padding: 0 2rem 0 0;
  color: var(--text-color);
  appearance: none;
  cursor: pointer;
}

.filter-wrapper .filter .filter-select select option {
  cursor: pointer;
}

.filter-wrapper .filter .filter-select select:focus {
  outline: none;
}

.filter-select .custom-arrow-down-type,
.filter-select .custom-arrow-up-type,
.filter-select .custom-arrow-down-brand,
.filter-select .custom-arrow-up-brand {
  position: absolute;
  /* background-color: red; */
  top: 50%;
  right: 0;
  height: 100%;
  pointer-events: none;
}

.filter-select .custom-arrow-down-type.selected {
  display: none;
}

.filter-select .custom-arrow-up-type {
  display: none;
}

.filter-select .custom-arrow-up-type.selected {
  display: inherit;
}

.filter-select .custom-arrow-down-brand.selected {
  display: none;
}

.filter-select .custom-arrow-up-brand {
  display: none;
}

.filter-select .custom-arrow-up-brand.selected {
  display: inherit;
}

.filter-btn {
  width: 65px;
  padding: 10px;
  margin-right: 12px;
}

.filter-btn {
  background-image: linear-gradient(#1a57f6, #4176ff);
  color: var(--shape);
}

.filter-btn .bx-search {
  font-size: 1.8rem;
}

.filter {
  position: relative;
}
.filter ul li a {
  color: var(--text-color);
}

.filter ul li a:hover {
  color: var(--primary-color);
}

.filter .select-vehicle {
  position: absolute;
  top: 5rem;
  left: 0.02rem;
  display: none;
  z-index: 999;
  width: 100%;
  height: 10rem;
  background-color: var(--shape);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  border-radius: 5px;
  padding-inline: 2rem;
  margin-top: 1rem;
  overflow: hidden;
  overflow-y: scroll;
}

.filter .select-vehicle-type.show {
  display: block;
}

.filter .select-vehicle-brand.show {
  display: block;
}

.footerButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 2rem;
}

/* --------------SweetAlert2---------------- */
.swal2-popup {
  font-size: 1.3rem !important;
}

/* --------------MODAL---------------- */
#fade-view,
#modal-view {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#fade-view {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal-view {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  z-index: 10;
  width: 500px;
  max-width: 90%;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

#modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--line-color);
  margin-bottom: 1.2rem;
  padding-bottom: 1.2rem;
}

#modal-header h2 {
  font-size: 2.2rem;
}

#close-modal-view {
  padding: 0.3rem 0.6rem;
  background-color: var(--colorButtonCancel);
  color: #fff;
  border-radius: 0.5rem;
  opacity: 0.85;
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.2s;
}

#close-modal-view:hover {
  opacity: 1;
}

#modal-view.hide,
#fade-view.hide {
  opacity: 0;
  pointer-events: none;
}

#modal-view.hide {
  top: 0;
}

.fieldForm {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.fieldForm input {
  padding: 0.5rem 0.5rem 0;
}

.fieldForm input[readonly] {
  background-color: var(--submenu-color);
}

@media screen and (min-width: 500px) and (max-width: 900px) {
  .container .filter-wrapper {
    width: 100%;
  }

  .container .filter-wrapper .filter .filter-select span {
    font-size: 1rem;
  }
  .filter ul li a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .container .filter-wrapper .filter .filter-select span {
    font-size: 1.5rem;
  }
  .container .filter-wrapper {
    width: 100%;
  }
}
