/* -----------------------TABELA------------------*/

.container .table {
  width: 100%;
  margin: 20px auto;

  /* margin: 0 30px; */
}

.container .table .table-section {
  height: 40rem;
  overflow: auto;
}

.container .table table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  min-width: 1000px;
}

.container .table table thead th {
  position: sticky;
  top: 0;
  background-color: var(--shape);
}

.container .table table th,
.container .table table td {
  border-bottom: solid 1px var(--line-color);
  padding: 12px;
  word-break: break-all;
  text-align: center;
}

.container .table table td span i {
  background-color: #3b6dee;
  font-size: 1.8rem;
  border-radius: 20px;
  padding: 10px;
  color: var(--shape);
}

.container .table table td span .bxs-truck {
  background-color: #ff0000;
}

.container .table table button {
  padding: 5px;
  color: var(--shape);
  font-size: 1.3rem;
  border-radius: 20px;
  /* border: 1px solid var(--line-color); */
  margin-inline: 3px;
  background-color: var(--background-color);
}
.container .table table button i {
  padding: 5px;
}

.container .table table button:nth-child(1) {
  background-color: #3b6dee;
}
.container .table table button:nth-child(1):hover {
  background-color: #2753c2;
}

.container .table table button:nth-child(2) {
  background-color: #ff0000;
}
.container .table table button:nth-child(2):hover {
  background-color: #b40000;
}
.container .table table button:nth-child(3) {
  background-color: #07e037;
}
.container .table table button:nth-child(3):hover {
  background-color: #02bb2a;
}
